/*
    This page contains all CSS that is shared throughout the entire website.
    Think of styles of buttons, text boxes, drop down menu's, etc. These
    elements should be the same throughout the entire website and can be defined
    here.
    If you make changes on parts that are not your own, notify the group of the changes
    and state the reason why.
*/

body
{
    background-color: #eaeaea;
    overflow:hidden;
}
/*The GUI panel*/
#gui-container
{
    position: absolute;
    top: 30px;
    left: 20px;
    width: 90%;
    z-index: 10;
}

#get-snapshot
{
    position: absolute;
    bottom: 50%;
}

#upload-snapshot
{
    position: absolute;
    bottom: 40%;
}

#snapshot-link
{
    position: relative;
    top: -4.8em;
    left: 9em;
}
input[type="text"] {
    width: 260px;
}

form#image-form {
opacity: 1;
overflow: visible;
position: fixed;
bottom: 25px;
left: 37vw;
}

.responsetext {
    opacity: 1;
    overflow: visible;
    position: fixed;
    bottom: 200px;
    left: 37vw;
}

.responsepath {
    opacity: 1;
    overflow: visible;
    position: fixed;
    bottom: 150px;
    left: 37vw;
}